.navbar {
  background-color: rgba(3, 87, 77, 0.8);
  box-shadow: 7px 1px 15px rgba(0, 0, 0, 0.911);
}
.drop-menu.dropdown-menu.show{
  background-color: rgba(3, 87, 77, 0.8);
  // .DropItem{
  //   color: #ffffff;
  // }
    --bs-dropdown-link-color: #ffffff;
}
