#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  border-radius: 5px;
  padding: 70px;
  position: fixed;

  overflow: hidden;
  z-index: 1;
  margin-top: 10%;
  margin-left: 40%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
  background-color: rgba(3, 87, 77, 0.8);
  color: white;
}
label {
  font-family: "Rubik", sans-serif;
}
p {
  font-size: 25px;
  color: blue;
  cursor: pointer;
}
.error {
  font-size: 25px;
  color: red;
}
.success {
  font-size: 25px;
  color: rgb(81, 255, 81);
}
///
.bt {
  cursor: pointer;
  background-color: #eb7a37;
  border-color: #eb7a37;
}
.im {
  font-size: 150px;
  color: black;
}
